# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Backup files
backups/
*.bak

# Development checklists and notes
wanda_notebook_checklist.md

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# AWS
.aws-sam/
.aws-sam-iacs/
.chalice/deployments/
.chalice/venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Mac OS
.DS_Store

# Utility scripts
scripts/utils/

# No longer ignoring wanda_pruning_scripts
# wanda_pruning_scripts/
